.text_banner {
text-align: right;
}

.banner h1 {
  margin: 0;
  color: #EBEBEB;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  font-size: 52px;
  font-weight: bold;
  text-align: center;
}

.banner p {
  font-size: 28px;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,1.7);
  text-align: right;
}// Specific CSS for your home-page

.banner {
  background-size: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  background-position: 10% 10%;
  padding: 165px;
  margin-bottom: 50px;

}


.title {
  font-size: 32px;
  color: rgb(3, 110, 179);
  opacity: .4;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
}// Specific CSS for your home-page

.icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
  flex-grow: 1;
  margin-right: 100px;
  margin-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;

}
.icon {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

