<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url('<%= image_path "banner.png" %>');">
  <div class="container">
    <h1>Gamer Corner </h1>
    <p>Exchange and share your board games</p>
  </div>
</div>

<%= render 'shared/search' %>"


  <h2>HOW IT WORKS ?</h2>
  <h4> </h4>
<div class="icons-container">
  <div class="icons">
    <div class="icon" style="background-image: url(/assets/game_everyone.png)">
        Rent a new game
      </div>
      <div class="icon" style="background-image: url(/assets/game_trip.png)">
        Find a game for a trip
      </div>
       <div class="icon" style="background-image: url(/assets/fun_party.png)">
        Add fun to your party
      </div>
      <div class="icon" style="background-image: url(assets/share_fun.png)">
        Share fun
      </div>
      <div class="icon" style="background-image: url(assets/space.png)">
       Save space
      </div>
      <div class="icon" style="background-image: url(assets/save.png)">
        Save money & planet
      </div>
    <div class>

    </div>

  </div>
</div>

<div class="container_map">

<%= image_tag "https://img-0.journaldunet.com/TUIoMZoSVMCDMXl0WUNfotBBS8U=/1280x/smart/2b7b473c1ebe416ead81f3f6179a1d75/ccmcms-jdn/11436203.jpg" %>

<img src="https://img-0.journaldunet.com/TUIoMZoSVMCDMXl0WUNfotBBS8U=/1280x/smart/2b7b473c1ebe416ead81f3f6179a1d75/ccmcms-jdn/11436203.jpg" alt="">

</div>
