.navbar-lewagon {
  justify-content: space-between;
  background: #F4F4F4;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  margin:0px;
  padding:0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 85px;
}
.nav-link{
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 23px;

}
.nav-item {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 23px;
}
.btn btn-ghost {
  font-family: 'Darker Grotesque', sans-serif;
}
